h1{
    color: blue;
}

*   {
    border:solid;
}

.header {
    display: flex;
    justify-content: space-between;
}

.grid   {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    display:flex;
    justify-content:flex-end;
}

h2,p    {
    text-align:center;
}

body    {
    background-color: #80FAFE;
}